body {
  font-family: 'Poppins', sans-serif;
  background: #fffff;
}

h1 {
  margin-bottom: 0;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: inherit;
  margin-bottom: 0;
}

/*-------------------------------sidebar---------------------------*/
#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: #ffffff;
  color: #black;
  transition: all 0.3s;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgb(225, 225, 225);
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px 20px 5px;
  background: white;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(225, 225, 225);
}

.sidebarCollapse {
  border-radius: 20px;
  /* position: absolute; */
  margin: 10px 10px;
}

.inside-container {
  margin: 0;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/*-------------------------------sidebar profile---------------------------*/
.profile-container {
  display: flex;
  align-items: flex-end;
  padding-top: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(225, 225, 225);
}

.profile-img {
  width: 100%;
}

.sidebar-img-container {
  padding: 0;
  max-width: 30px;
  overflow: hidden;
  margin-right: 2rem;
}

/*-------------------------------sidebar list---------------------------*/
a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li a {
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1em;
  display: block;
  color: rgb(150, 150, 150);
}

#sidebar ul li a:hover {
  background: #F5F6F8;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
  color: #22AEFF;
  background: #BDE7FF;
}

/*-------------------------------page content---------------------------*/
/*-------------------------------page content table---------------------------*/
#content {
  /* background-color: red; */
}

.page_table {
  display: none;
}

.page_profile {
  display: none;
}

/*-------------------------------page content profile---------------------------*/
.profile-image-div{
  background-color: #BDE7FF;
  margin-bottom:1rem;
}

/*-------------------------------content header---------------------------*/
.content-header {
  padding: 20px 80px 0;
}

.button-col {
  padding-left: 0;
}

/*-------------------------------content manager control---------------------------*/
.content-manager-buttons {
  /* background-color: green; */
  padding: 10px 0;
}

.members-modal-button {
  border-radius: 20px;
}

.popover-body {
  height: 200px;
  overflow-y: auto;
  white-space: pre-wrap;
  font-size: 1rem;
}

.profile-img-container {
  padding: 0;
  max-width: 30px;
  overflow: hidden;
  margin-right: 1rem;
}

.member-list {
  padding: .3rem 0;
}

.modal-task-slide {
  padding: 1rem .4rem;
}

/*-------------------------------content employee control---------------------------*/
.content-header-2 {
  /* background-color: yellow; */
  padding: 10px 80px;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(225, 225, 225);
}

.my-tasks-dropdown {
  border-radius: 10px;
}

.task-performance {
  background-color: blue;
  color: white;
  border-radius: 10px;
}

.great {
  /* background-color: #BEFFBC; */
  background-color: #60C15D;
  color: white;
  border-radius: 10px;
}

.good {
  background-color: #FFF957;
  border-radius: 10px;
}

.unsatisfactory {
  background-color: #BD1E1E;
  border-radius: 10px;
  color: white;
}

.not-set {
  background-color: #7E97A5;
  border-radius: 10px;
  color: white;
}

.performance-list {
  padding: .2rem 0;
}

.slider {
  margin: 5px 0;
}

.ui-slider-range {
  background-color: #22AEFF;
}

/*-------------------------------content table---------------------------*/
.content-wrapper {
  padding: 40px 80px;
}

.table th {
  /* background-color: rgba(34, 174, 255, 0.5); */
  color: rgb(50, 50, 50);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #D6F0FF;
}

.table-striped tbody tr {
  color: #495057;
}

/*-------------------------------input---------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

.button-margin {
  margin: 1rem 2rem .1rem;
}

.wrap-input100 {
  position: relative;
  border-bottom: 2px solid #dbdbdb;
  padding-top: 10px;
}

.input100 {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  height: 2rem;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  color: #555555;
  line-height: 1.2;
  padding: 4px 2px 0;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.4s;
  background: rgba(34, 174, 255, 0.5);
}

.input100:focus+.focus-input100::before {
  width: 100%;
}

/*-------------------------------mobile css--------------------------*/
@media (max-width: 768px) {

  /*-------------------------------sidebar---------------------------*/
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }
}
